/* .bg {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.bg::after {
  content: "";
  background: url('/static/images/returnbook.png') ;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
  background-repeat: no-repeat;
  background-position: center; 
}

.mt-25{
  margin-top: 25px;
} */